html {
    background-color: #cdf2ff67;
    min-height: 700px;
}

/* RESET CSS */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
body{
    background-color: #BBD0FF;
}
h1{
    font: 500 30px sans-serif;
    background-color: #FFD6FF;
    justify-content: flex-start;
    padding: 26px 150px;
    color: #000000;
}

.tudo{
    font: 200 15px sans-serif;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    justify-content: space-around;
    display: flex;
}

li{
    margin-top: 10px;
    list-style: none;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #C8B6FF;
}

ul{
    box-shadow: 4px 5px 7px 2px #C8B6FF;

    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-left: 50px; */
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 330px;
    width: 270px;
}

.formulario{
    margin: 0 10px;
    font: 200 10px sans-serif;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

label{
    margin: 0 30px;
    font: 500 20px sans-serif;
}

input{
    box-shadow: 2px 3px 7px 2px #afb7fa;

    border-radius: 10px;
    padding: 20px 10px;
    width: 300px;
    background-color: #C8B6FF;
}

button{


    padding: 17px 10px;
    width: 100px;
    margin: 0 41px;
    font: 500 15px 'Arial';
    border-radius: 10px;
    background-color: #fcfcfc;
    color: #7b2cbf;
}

button:hover{
    cursor: pointer;
    background-color: #fcfcfc;
    color: #240046;
}

.rodape {
    color: #000000;
    margin-top: 80px;
    height: 230px;
    background-color: #FFD6FF;
}

.trellinho {
    text-align: center;
    padding-top: 73px;
    font: 600 26px sans-serif;
}

.trellao {
    text-align: center;
    font: 400 22px sans-serif;
}